<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findacar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_car"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.example.findacar.service.SyncService" />
        <receiver android:name=".service.ConnectionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activites.MapsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.CarReservationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.VehicleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activites.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activites.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activites.CarServiceDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.SearchResultsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activites.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.MessagingService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxFZ5sVSdtYDO4VO-pn2DtTCUZkwDQ3OU" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
</manifest>