<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findacar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_car"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activites.MapsActivity"/>
        <activity android:name=".activites.CarReservationActivity"/>
        <activity android:name=".activites.EditProfileActivity" />
        <activity android:name=".activites.VehicleActivity" />
        <activity android:name=".activites.DashboardActivity" />
        <activity
            android:name=".activites.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activites.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activites.ChangePasswordActivity" />
        <activity android:name=".activites.CarServiceDetailsActivity" />
        <activity android:name=".activites.SearchResultsActivity" />
        <activity
            android:name=".activites.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOqSV227kayRqoeIGJBgaJQKpIOslFnjw" />
            <!--android:value="AIzaSyBxFZ5sVSdtYDO4VO-pn2DtTCUZkwDQ3OU" />-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>